@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


label {
    font-size: medium;
    font-family: "Inter";
	color: #ffffff;
    font-weight: bolder;
}

div {
 padding-block: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:"Inter";
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: rgb(67, 67, 67);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgb(100, 105, 0);
    border-radius: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 0.5rem;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: 12px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 500px;
}

button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

#submit {
    align-self: center;
    width: 250px;
}

.regForm {
    font-family: "Inter";
    font-size: 0.75rem;
    border-radius: 2rem;
    background: #ffffff2c;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 600px;
    position: relative;
    align-self: center;
}

.instructions {
    font-family: "Inter";
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #0000002c;
    color: #ff5656;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    bottom: -10px;
    align-self: center;
}

.offscreen {
    position: absolute;
    left: -9999px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.formElement{
    padding-top: 5px;
    padding-bottom: 5px;
}

.errMsg{
    color: #ff5656;
}